<li class="list">
  <img class="user_img" src=<%= user.photo %> alt="dummy-image">
  <div class="user_info">
    <p class="user-name"><%= user.name %></p>
    <p class="user-posts">Number of posts: <%= user.posts_counter %></p>
  </div>
</li>