<li class="list">
  <img class="user_img" src="https://dummyimage.com/400x400/ababab/ffffff.png&text=An+Image" alt="dummy-image">
  <div class="user_info">
    <p class="user-name">User name</p>
    <p class="user-posts">Number of posts: x</p>
  </div>
</li>